.SearchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .SearchBar input {
    margin: 15px;
    width: 400px;
    height: 35px;
    border: 3px solid orange;
    font-size: 18px;
  }